// Navigation Styles here
header{
    display: flex;
    flex-direction: column;
    background-color:;
    padding-top:2rem;
 
    .row{
        flex-direction: row;
        color: red;

        a{
            flex-direction: row;
            text-decoration: none;
        }
    }
  
    .welcome{
        color: black;
        flex-direction: column;
    }
}